C:\Users\tabea\PycharmProjects\AntsShapes\.idea\*
C:\Users\tabea\PycharmProjects\AntsShapes\.idea*
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_H.pkl
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_H_pp.pkl
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_I.pkl
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_I_pp.pkl
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_SPT.pkl
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_SPT_pp.pkl
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_T.pkl
C:\Users\tabea\PycharmProjects\AntsShapes\PhaseSpaces\ant\XL_T_pp.pkl
